<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->


<title>Home</title>
<script type="text/javascript">
  $(document).ready(function(){
    var getUrlParameter = function getUrlParameter(sParam) {
      var sPageURL = decodeURIComponent(window.location.search.substring(1)),
      sURLVariables = sPageURL.split('&'),
      sParameterName,
      i;
      for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] === sParam) {
          return sParameterName[1] === undefined ? true : sParameterName[1];
        }
      }
    }

    if (getUrlParameter('id')){
      // $('#delete_student_details').css('display','')
      $('#update_student_details').css('display','')
      $('#submit_student_details').css('display','none')
    }
    else{
      $('#update_student_details').css('display','none')
      $('#submit_student_details').css('display','')
    }

  $(document).on('click','#submit_student_details',function(){
      alert("hello");
      var student_name = $("#student_name").val();
      var student_admin = $("#student_admin").val();
      var student_mob = $("#student_mob").val();
      var student_standard =$("#student_standard").val();
      var section = $('#section').val();
      var data = {   
        'student_name' : student_name,
        'student_admin' : student_admin,
        'student_mob' : student_mob,
        'student_standard': student_standard,
        'section':section,
      }
      submit_student_details(data)  
      // location.reload()    
      })
  // $(document).on('click','#delete_student_details',function(){
  //   var id = getUrlParameter('id')
  //   var data={
  //     'id':id,
  //   }
  //   delete_student_details(data)
    // alert('delete')
  // })
  $(document).on('click','#update_student_details',function(){
    var student_name = $("#student_name").val();
    var student_admin = $("#student_admin").val();
    var student_mob = $("#student_mob").val();
    var student_standard =$("#student_standard").val();
    var section = $('#section').val();
    // alert("success")
    var id = getUrlParameter('id')
    // alert("update");
    var data = {   
        'student_name' : student_name,
        'student_admin' : student_admin,
        'student_mob' : student_mob,
        'student_standard': student_standard,
        'section':section,
        'id'    :     id,
      }
      submit_student_details(data)
      window.open('/registration/std_list/',"_self")
  })
  })

function submit_student_details(data){
  // alert("aararra")
  $.ajax({

    url:"/registration/save_student_details/",
    type:"get",
    dataType:"json",
    data:data,
    success:function(obj){
      alert("Saved Student Details Successfully")
    },
    error:function(err){
      // alert("Something went wrong..."+JSON.stringify(err,null,4))
    }
  })
}
</script>
</head>
<body>
    
    <div class="container">

    <div class = "jumbotron">
        <h1>Registration Form</h1>
        <a href="/registration/std_list"><h5>Registered Students <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-checklist" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
          <path fill-rule="evenodd" d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
        </svg></h5></a>
 

            <div class="form-group">
              <label>Full Name</label>
              <input type="text" class="form-control" name="student_name" id="student_name" value='{{data.FullName}}' onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123)" >
            </div>
            
            <div class="form-group">
                <label>Phone Number</label>
                <input type="text" class="form-control" name="student_mob" id="student_mob" value="{{data.PhoneNo}}" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) " maxlength="10" >
              </div>
            
            <div class="form-group">
               <label>Admission Number</label>
               <input type="text" class="form-control" name="student_admin" id="student_admin" value="{{data.AdmissionNo}}" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="7">
            </div>

              <label>Class</label>
              <input type="text" class="form-control" name="student_standard" id="student_standard" value="{{data.Standard}}" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" maxlength="2">
            
                <label>Section</label>
                <p><input type="text" id="section" value="{{data.Section}}" maxlength="1"></p>
                       <script> 
        $(function() { 
            $('#section').keyup(function() { 
                this.value = this.value.toLocaleUpperCase(); 
            }); 
        }); 
                  </script>  
                
            
              
            <p></p>
            <p></p>
            <p></p>
            <p></p>
       
            
            

            <button type="submit" id="submit_student_details" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary" id="update_student_details" style="display: none;">Update</button>  
            <!-- <button type="submit" class="btn btn-primary" id="delete_student_details" style="display: none;">Delete</button>   -->

            

            <!-- <script>
                function myfunction() {
                  alert("Registration Successful");
                }
            </script>
             -->
          
    </div>

    </div>
    <script type="text/javascript">
    
    </script>

    
</body>
</html>